.contact-form {
  max-width: 560px;
}

label {
  position: relative;
}

label > input {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 45px;
  width: 100%;
  font-size: 16px;
  margin: 0 0 30px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.4s;
}

label > input:valid + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
}

label > input:valid {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}

label > span {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  cursor: text;
  transition: 0.2s ease-out;
}

label > input:focus + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
  color: #3f51b5;
}

label > input:focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  font-size: 1.1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: #2196f3;

  svg {
    vertical-align: bottom;
  }
}

/* Ripple magic */
button {
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
