.partners {
  display: flex;
  align-items: center;
  flex-direction: column;

  a.mollerske {
    width: calc(100% - 24px);
    max-width: 1000px;
  }

  .wrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

    .partner {
      width: 50%;
      padding: 20px;
      transition: all 0.5s;
      text-align: center;
      color: #787878;
      font-size: 3rem;

      @media (min-width: 800px) {
        width: 25%;
      }

    .carousel-img{
      margin-left: 20px;
      margin-right: 20px;
    }
    }
  }

  .center {
    text-align: center;
    font-family: Space Mono, monospace;
    margin: 5rem 0 3rem 0;
  }
}
