.footer-partners {
  .partners {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1rem;

    .partner {
      width: 50%;
      padding: 20px;
      transition: all 0.5s;
      text-align: center;
      color: #787878;
      font-size: 3rem;

      @media (min-width: 800px) {
        width: 25%;
      }
    }
  }

  .center {
    text-align: center;
    font-family: Space Mono, monospace;
    margin: 5rem 0 3rem 0;
  }
}
