.team-members {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  .shape {
    transform: scale(3);
    right: -20rem;
    opacity: 0.1;
    position: absolute;
    top: 30rem;
  }
}

.title {
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  .team-members.core-team {
    max-width: 150px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 375px) {
  .team-members.core-team {
    max-width: 180px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .team-members.core-team {
    max-width: 200px;
  }
}
