ul {
    // IE fallback
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 8px;
    margin-bottom: 48px;

    @media (max-width: 1130px) {
        grid-template-columns: repeat(12, 1fr);
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }

    li {
        color: white;
        padding: 8px;

        @media (max-width: 900px) {
            margin-bottom: 12px;
        }

        h3 {
            font-size: bold;
            text-align: center;
            color: white;
        }
        span {
            float: right;
            color: white;
        }
    }

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4) {
        background-color: #6b6b6b;
    }

    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
        background-color: #293a7d;
    }

    li:nth-child(8) {
        background-color: #999999;

        @media (min-width: 1130px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    li:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    li:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 7;
    }
    li:nth-child(3) {
        grid-column-start: 7;
        grid-column-end: 10;
    }
    li:nth-child(4) {
        grid-column-start: 10;
        grid-column-end: 13;
    }
    /* node */
    li:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    li:nth-child(6) {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    li:nth-child(7) {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    li:nth-child(8) {
        grid-column-start: 13;
        grid-column-end: 16;
        grid-row-start: 1;
        grid-row-end: 3;

        @media (max-width: 1130px) {
            grid-column-start: 1;
            grid-column-end: 13;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}

