.team-member-card {
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
  color: #293a7d;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 260px;

  @media (max-width: 519px) {
    width: 50%;
  }

  .member-name {
    font-family: Space Mono, monospace;
    line-height: 2rem;
  }

  img {
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    width: 210px;
    height: 210px;
    margin-bottom: 12px;
    background-color: #f4f4f4;

    @media (max-width: 519px) {
      width: 36vw;
      height: 36vw;
    }
  }
  
  .member-tag {
    font-size: 14px;
    border: solid 1px;
    margin: 2px 5px;
    padding: 0 5px;
    flex-wrap: wrap;
    display: inline-flex;
    background: #ffffff54;
  }


}
