$primary-color: #293a7d;

.team-member-card {
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
  color: $primary-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 260px;

  .member-name {
    font-family: Space Mono, monospace;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .member-company {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .member-tag {
    font-size: 14px;
    border: solid 1px;
    margin: 2px 5px;
    padding: 0 5px;
    flex-wrap: wrap;
    display: inline-flex;
    background: #ffffff54;
  }

  .skills p {
    font-size: 16px;
    line-height: 1.5rem;
  }

  .social-media {
    margin-top: 0.5rem;
    a {
      color: $primary-color;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
