.alumni-details {
  position: absolute;
  width: 50vw;
  background-color: #fff;
  padding: 1rem;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px grey;

  .photo {
    max-height: 200px;
    display: block;
    border-radius: 50%;
    margin: auto;
  }

  @media (max-width: 600px) {
    width: 100vw;
  }

  .hyf-title {
    display: inline-block;
  }

  .close {
    position: absolute;
    opacity: 0.5;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
