.members {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.center {
  text-align: center;
  margin: 4rem;
}

.filterMenu {
  padding: 0.3rem 5rem;
  font-size: 1rem;
  margin-left: 1rem;
  border-radius: 3px;
}
