.team-members {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.members {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.center {
  text-align: center;
  margin: 4rem;
}
