.email {
  font-size: 1rem;
  padding: 8px;
  margin: 0 10px;
  width: 240px;
}
.submit {
  font-size: 1rem;
  border: 0;
  background: #2ecc40;
  color: white;
  padding: 10px;
}
.header {
  margin: 0 0 10px;
}
.description {
  font-size: 1rem;
  max-width: 300px;
  margin: 0 auto 10px;
}
