footer {
  /*margin-top: 100px;*/
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*min-height: 300px;*/
    /*background: linear-gradient(to bottom right, #293A7D,#293A7D );*/
    background-color: #293a7d;
    color: #fff;
    text-align: center;
  }
}



.social-icons {
  padding: 2rem;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.info {
  display: flex;
  padding: 1rem 10rem;
  flex-direction: row;
}

.col-lg-6 {
  flex: 1;
  margin: auto;
}

@media (max-width: 768px) {
  .info {
    padding: 1rem;
    flex-direction: column;
  }
  .cvr {
    margin-top: 2rem;
  }
}
