$breakpoint: 500px;

footer {
  width: 100%;
  background-color: #293a7d;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: 1000px;

    @media (max-width: $breakpoint) {
      flex-direction: column;
    }

    > * {
      flex: 200px 0 1;
      text-align: left;

      @media (max-width: $breakpoint) {
        flex: 1;
        margin-bottom: 24px;
      }
    }

    ul li a {
      color: white;
    }
  }
}
