$primary-color: #293a7d;

.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  overflow-y: scroll;

  button {
    border: none;
    background-color: transparent;
    margin: 18px 0 12px 14px;
    cursor: pointer;
  }

  @media (min-width: 769px) {
    display: none;
  }

  &.open {
    transform: translateX(0);
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  }

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 12px;

    li {
      padding: 0.1rem;
      
      &.active a {
        font-weight: bold;
      }

      a {
        color: $primary-color;
        text-decoration: none;
        font-size: 1.1rem;
        display: block;
        transition: background-color 0.3s ease-in-out;

        &:hover,
        &:active {
          background: #eee;
        }
        &.donate {
          background-color: $primary-color;
          color: white;
          padding: 0 0.4rem 0 0.4rem;
          margin-top: 0.8rem;
          font-weight: bold;
          width: 90px;
        }
      }
    }
  }
}
