.content {
  padding: 1rem 4rem 3rem 4rem;
  margin: 2rem auto;
  max-width: 1300px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  background-color: #efefef;
  position: relative;

  @media (max-width: 768px) {
    padding: 1rem 5vw;
    margin: 0;
    font-size: 1rem;
    line-height: 2.2rem;
    background-color: #eee;
    box-shadow: none;
  }

  @media (min-width: 1200px) {
    text-align: justify;
  }

  @media (max-width: 1380px) {
    margin: 1rem;
  }

  &:nth-child(even) {
    background-color: #f4f4f4;
  }
}
